<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %><br>
<a href="/users/logout">Log Out</a>
<% @user = Helpers.current_user(session) %>
<h2>Welcome to your movie account, <%= @user.username %></h2>
<h3>Favorite movies:</h3>
<ul>
    <% @user.movies.each do |movie| %>
    <li><a href="/movies/<%= movie.slug %>"><%= movie.cap %></a></li>
    <% end %>
</ul><br><br>

<h3>Owned movies:</h3>
<ul>
    <% @owned_movies = Movie.all.select { |movie| movie.owned_by == @user.id } %>
    <% if @owned_movies %>
      <% @owned_movies.each do |movie| %>
      <li><a href="/movies/<%= movie.slug %>"><%= movie.cap %></a></li>
      <% end %>
    <% end %>
</ul><br>
<h3>Create a movie to own for yourself: <a href="/movies/new">Create a Movie</a></h3>


<form method="POST" action="/account">
  <label for="movie_name">Search for a Movie:</label><br>
  <input type="text" id="movie_name" name="movie[name]" placeholder="Title">
  <input type="submit" value="Search">
</form>

<h3>View all movies: <a href="/movies">movies</a></h3>
<h3>View all actors: <a href="/actors">actors</a></h3>
<h3>View all directors: <a href="/directors">directors</a></h3>

